/*Aplicar una fuente a toda la Página*/
body{
	font-family:'Roboto-Regular';
}
/*Selector de etiquetas*/
header, footer {
	/*Colores:palabra en ingles
	 background-color: green;
	 background-color: #FE3F44;
	 background-color:rgb(78, 39, 168);*/
	background-color: #3B2F63;
	color: #FFFFFF;
}
/*Selector de id (solo lo puede tener una etiqueta)*/
#bienvenida {
	color: #FFFFFF;
	text-align: center;
	background-size: cover;
	font-size: 1.8em;
}
#servicios, #galeria, #ubicacion {
	padding: 1.5em;
	font-size: 1.3em;
	background-image: url("../estaticos/imagenes/fondo.png");
	background-attachment: fixed;
	/*text-align afecta a los elemntos de linea
	 texto planos,imgenes,videos
	 */
	text-align: center;
}
#conocenos {
	text-align: center;
	background-color: #C7C0DE;
	padding-top: 1.3em;
	padding-bottom: 1.3em;+++
}

/*Selector de descendientes*/
#barra-navegacion ul li {
	color: #c7c0de;
	text-align: center;
	line-height: 45px;
}

/*Imagenes y videos flexibles*/
img, video {
	max-width: 100%;
}
#titulo h1 {
	padding-left: 7%;
	/*Sombra al titulo*/
	text-shadow: -3px 4px 0px rgba(202, 188, 225, 1);
/*chrome safari*/
	-webkit-text-shadow: -3px 4px 0px rgba(202, 188, 225, 1);
/*opera*/
	-o-text-shadow: -3px 4px 0px rgba(202, 188, 225, 1);
/*ie8 para abajo*/
	-ms-text-shadow: -3px 4px 0px rgba(202, 188, 225, 1);
/*firefox*/
	-moz-text-shadow: -3px 4px 0px rgba(202, 188, 225, 1);
}
#conocenos {
	font-size: 1.2em;
}

#barra-navegacion ul li a{
	color: #C7C0DE;
	/* quitar el subrayado de los enlaces */
	text-decoration:none;
}
/** Galeria **/

#contenedor-imagen, #contenedor-preview{
	background-color: #C7C0DE;
	border-radius: 3px;
	padding: 1em;
}

#descripcion-imagen{
	background-color: #EEEEEE;
}
/*** Posicionar descripcion-imagen con respecto a
 * contenedor-imagen 
 * 1.- contenedor-imagen con posicionamiento relativo
 * 2.- descripcion-imagen con posicionamiento absoluto
 * 3.- dar la posicion que tendra descripcion-imagen con
 * respecto al contenedor***/
#contenedor-imagen{
	position: relative;
	border: solid 3px #C7C0DE;
}
#descripcion-imagen{
	position: absolute;
	left:0px;
	right:0px;
	bottom: 0px;
	padding: 1em;
	opacity: .7;
}

header{
	z-index: 100;
}

#galeria{
	height:750px;
}
/*** footer ***/
#sociales-awesome{
	font-size: 4em;
}
#powered ul li i{
	font-size: 0.5em;
}
/*** Estilos de la ubicacion ***/
/*El alto y ancho deldiv que contiene el mapa es fijo 
 y se debe colocar en pixeles*/
#mapa{
	width: 600px;
	height: 600px;
	border: solid 3px #3B2F63;
}















